/*为网页设置背景图*/
html { 
  background: url("../bgimges/bg-img3.jpg") no-repeat center fixed; 
  background-size: cover;}

/*保证内容填充满整个HTML页面*/
html,body {height:100%}

.header{
  text-align:center;
  font-family:"华文行楷";
  font-size:30px;}

.main-content {
  display: grid;
  grid-template-columns: 15% 85%;
  min-height:100%;
  position:relative;} 
  
/*导航栏的样式*/ 
ul {
  list-style-type: none;
  float:left;
  margin: 0;
  padding: 0;
  width: 90%;}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;}
  
li a.navg {
  background-color: #4CAF50;
  color: white;}

li a:hover{
  background-color: #CCFA00;
  color: black;}
 
/*设置表格的部分样式*/
span.Eng {font-family:Times New Roman;}

div.tabledata {
  margin: 0 auto;
  padding:0 35% 0 10%;
  text-align:center;}

caption {
  font-size:22px;
  font-family:楷体;
  font-weight:bold;}
  
table { 
  margin: 0 auto;
  width:100%;}
  
table th {width:70%;}
table td {width:30%;}
 
td a:link {color:#354DFC}
td a:visited {color:purple} 
td a:hover {color:#0707A5}
td a:active {color:red}

.physical-I th {color:brown;}
.physical-II th {color:orange;}
.physical-III th {color:green;}
.Specialized-cources th {color:#F43342}

p#text {
  margin: 10px auto;
  padding:0 35% 0 10%;
  color:red;
  font-family:华文仿宋;
  font-size:22px;
  text-align:center;} 

.Math-I1 th {color:brown;}
.Math-I2 th {color:green;} 

.probability th {color:brown;}
.linear-algebra th {color:orange;}
.Math-Physical th {color:green;}

#back-to-top {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 9999;
  cursor: pointer;
  display: none;}

#back-to-top img {
  width: 40px;
  height: 40px;}

/*Footer的样式*/
.footer-info {
  text-align:center;
  position:relative;
  bottom:0;
  margin:20px auto 2px auto;}
 
.footer-info a:link {color:blue}
.footer-info a:visited {color:purple} 
.footer-info a:hover {color:#05D8EF}
.footer-info a:active {color:black}